[Unit]
Description=piWordClock service unit. Automatically starts the piWordClock script at start up.

[Service]
Type=simple
ExecStart=python3 /home/pi/piWordClock/piclock.py

[Install]
WantedBy=multi-user.target